body{
	
	color: white;
	background: rgba(67,136,143,1);
background: -moz-linear-gradient(top, rgba(67,136,143,1) 0%, rgba(9,10,36,1) 90%, rgba(9,10,36,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,136,143,1)), color-stop(90%, rgba(9,10,36,1)), color-stop(100%, rgba(9,10,36,1)));
background: -webkit-linear-gradient(top, rgba(67,136,143,1) 0%, rgba(9,10,36,1) 90%, rgba(9,10,36,1) 100%);
background: -o-linear-gradient(top, rgba(67,136,143,1) 0%, rgba(9,10,36,1) 90%, rgba(9,10,36,1) 100%);
background: -ms-linear-gradient(top, rgba(67,136,143,1) 0%, rgba(9,10,36,1) 90%, rgba(9,10,36,1) 100%);
background: linear-gradient(to bottom, rgba(67,136,143,1) 0%, rgba(9,10,36,1) 90%, rgba(9,10,36,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43888f', endColorstr='#090a24', GradientType=0 );

}
.imagen_principal{
	max-width: 100%;
}
.quitar-float{
	float: none;
	margin-top: 50px; 
}
.pacifico{
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	color: #D8D9A9;
}
.lato{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}
a{
	color: #EEDCB0;
}
.espacio-derecha{

	margin-right: 1em;
}
.no-lista li{
	list-style-type: none;
	margin: 0px;
	padding: 0px;

	float:none;
	display: inline-block;
	margin-right: -4px
}
.navegacion{
	color: black;
	padding: 5px 10px;
	background-color: #eee;
	
}
.fondo{
	
	}

